.staff-options {
    width: 100%;
    padding: .5rem 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.staff-options a {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    border: 1px solid #fff;
    padding: 1rem 0;
    width: 20%;
    background-color: #000;
    border-radius: .4rem;
    cursor: pointer;
    font-family: 'Roundex';
    font-size: .8rem;
    text-decoration: none;
}

.staff-options-icon {
    font-size: 1.3rem;
}

.staff-options a:hover {
    color: #F2A900;
    border: 1px solid #F2A900;
}