@font-face {
    font-family: 'MRKMaston';
    src: url('../assets/fonts/MRKMaston.ttf');
}

@font-face {
    font-family: 'LuvianTrial';
    src: url('../assets/fonts/LuvianTrial.ttf');
}

@font-face {
    font-family: 'Alizah';
    src: url('../assets/fonts/Alizah.otf');
}

@font-face {
    font-family: 'Roundex';
    src: url('../assets/fonts/Roundex.otf');
}

@font-face {
    font-family: 'Gofia';
    src: url('../assets/fonts/Gofia.ttf');
}